# Copia questo file e rinominalo in .env.local
# Poi incolla qui i dati del tuo progetto Firebase Web App.
VITE_FIREBASE_API_KEY=INSERISCI_API_KEY
VITE_FIREBASE_AUTH_DOMAIN=INSERISCI_AUTH_DOMAIN
VITE_FIREBASE_DATABASE_URL=INSERISCI_DATABASE_URL
VITE_FIREBASE_PROJECT_ID=INSERISCI_PROJECT_ID
VITE_FIREBASE_STORAGE_BUCKET=INSERISCI_STORAGE_BUCKET
VITE_FIREBASE_MESSAGING_SENDER_ID=INSERISCI_MESSAGING_SENDER_ID
VITE_FIREBASE_APP_ID=INSERISCI_APP_ID
